.vs/
*.py[cod]
__pycache__
tests/__pycache__

# requirements defined in setup.py
requirements.txt

# Temp files
.*.sw[po]
*~
*.bak
.DS_Store
*.lock
*.json
all_messages_conf.log

# C extensions
*.so

# Build and package files
*.egg
*.egg-info
.bootstrap
.build
.cache
.eggs
.env
.installed.cfg
.ve
bin
build
develop-eggs
dist
eggs
lib
lib64
parts
pip-wheel-metadata/
pyvenv*/
sdist
var
venv*/
wheelhouse

# Installer logs
pip-log.txt

# Unit test / coverage reports
.benchmarks
.coverage
.coverage.*
.pytest
.pytest_cache/
.tox
coverage.xml
htmlcov
nosetests.xml
--cov-report=term-missing

# Translations
*.mo

# Buildout
.mr.developer.cfg

# IDE project files
*.iml
*.komodoproject
.idea
.project
.pydevproject
.vscode

# Complexity
output/*.html
output/*/index.html

# Sphinx/docs
docs/_build
docs/reference/geophires-request.json
docs/reference/parameters.rst
docs/geophires-request.json
docs/parameters.rst
docs/hip-ra-x-request.json
docs/hip_ra_x_parameters.rst
_site/
/docs/geophires_x.rstx
/docs/temperature.txt
/geophires_x.rst
/modules.rst
/Useful sites for Sphinx docstrings.txt
/.github/workflows/workflows.7z

# Mypy Cache
.mypy_cache/

#CLG Simulator
/src/geophires_x/CLG Simulator/clg_tea_module_laptop_auto.py
/src/geophires_x/CLG Simulator/clg_tea_v3.py
/src/geophires_x/CLG Simulator/clg_tea_v3_coaxial_water_elec.py
/src/geophires_x/CLG Simulator/clg_tea_v3_SCO2_elec.py
/src/geophires_x/CLG Simulator/clgs_v2.py
